langchain
langchain-community
langchain-core
langchain-openai
langchain-pinecone
langchain-ollama
pymilvus
langchain-milvus

pinecone

pypdf
python-dotenv

beautifulsoup4
lxml

huggingface-hub
sentence-transformers
