.env
/vectorDB/*
/factsDB/centralActPdfs/*
/chatbot/rag_runs.jsonl
__pycache__/
/test/promptTester/outputs/*
/test/promptTester/evaluator/evaluationResults/*
!/test/promptTester/evaluator/evaluationResults/evaluation_20260307_143019_20260307_184410.json
# macOS system files
.DS_Store
**/.DS_Store